body {
  background-color: #000e8f;
  background-image: url("../../img/background/fondoMarmol.png");
  scroll-behavior: initial;
}

div.user .men.show {
  display: block;
  height: auto;
  width: 15em;
  animation: fadeIn 0.3s forwards;
  position: absolute;
  margin-top: -1em;
  margin-left: -8em;
  padding: 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  padding: 1em;
  background-color: rgb(71, 123, 236);
  z-index: 1000;
}
