body {
  background-color: #000e8f;
}
.navegacionSupHomeLog .ultimaParte .olvidaste a {
  color: white;
}
.navegacionSupHomeLog .primeraParteNavegacion #letraLogo {
  border-left: 0.3em solid rgb(0, 0, 0);
}
