.navegacion {
  justify-content: space-between;
  margin-top: 0.5em;
}

.gesfin .logoPrincipal {
  width: 6em;
  display: flex;
}
#letraLogo {
  display: flex;
  border-left: 0.3em solid rgb(0, 0, 0);
  margin-left: 0.5em;
}
#letraLogo div {
  align-self: center;
  margin-left: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
}
#letraLogo h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
}

#letraLogo p {
  margin: 0;
  padding: 0;
}

div.ultimaParte nav img.fechaDown {
  width: 0.7em;
  height: 0.7em;
  margin-top: 0.4em;
  margin-left: 0.5em;
  padding-left: 0;
}
.menu {
  margin-top: 0%;
  margin-right: 5%;
  margin-bottom: 0%;
}
ul.men li {
  font-size: 1.1em;
  margin-bottom: 4%;
}

ul.men-prin {
  list-style: none;
}
