.navegacionSupHomeLog {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
.primeraParteNavegacion {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-height: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

.medio {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-items: center;
}

.navegacionSupHomeLog .primeraParteNavegacion .lineaLogoHome {
  width: 3em;
  height: 3em;
  margin-left: 2em;
}

.navegacionSupHomeLog .primeraParteNavegacion .icon-menu {
  width: 1.6em;
  padding: 0.2em;
  margin-left: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.4em;
}
.navegacionSupHomeLog .primeraParteNavegacion h4 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 0.2em;
  padding-left: 0.2em;
  border-left: 0.1em solid rgb(0, 0, 0);
}
/*////////////////////////////////////////////////////////////////////////////////*/
.navegacionSupHomeLog .medio #tituloOpciones {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
}
.navegacionSupHomeLog .medio #tituloOpciones {
  margin: 0.2em;
  margin-left: -20em;
}
.navegacionSupHomeLog .medio #tituloOpciones h2 {
  margin: 0;
  margin-right: 1em;
  padding: 0;
  align-self: center;
  font-size: 1.2em;
}

.navegacionSupHomeLog .medio #tituloOpciones input {
  display: none;
}

.navegacionSupHomeLog .medio #tituloOpciones .titulo {
  margin: 0;
  padding: 0;
  align-items: center;
}

.navegacionSupHomeLog .medio #tituloOpciones #opciones {
  width: 10em;
  justify-content: center;
  cursor: pointer;
  align-self: center;
}

.navegacionSupHomeLog .medio #tituloOpciones #opciones h3 {
  padding-right: 1em;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.navegacionSupHomeLog .medio #opcionesLista {
  display: none;
}

.navegacionSupHomeLog .medio #opciones li {
  list-style: none;
  cursor: pointer;
  font-family: "Ubuntu Condensed", sans-serif;
}

.navegacionSupHomeLog .medio #opcionesLista.show {
  display: block;
  position: absolute;
  font-size: 1.3em;
  width: 7em;
  z-index: 50;
  margin-top: 0.7em;
  animation: fadeIn 0.3s forwards;
  border-radius: 10px 10px 10px 10px;
  padding: 1em;
}
/*////////////////////////////////////////////////////////////////////////////////*/
.navegacionSupHomeLog .ultimaParte {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 3em;
  margin-bottom: 0;
  padding-top: 0.8em;
  padding-bottom: 0;
}

.navegacionSupHomeLog .ultimaParte .campana {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.navegacionSupHomeLog .ultimaParte.campana:hover {
  transform: scale(1.5);
}
.navegacionSupHomeLog .ultimaParte {
  margin: 0;
  padding: 0;
}
.navegacionSupHomeLog .ultimaParte .perfil {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.5em;
}

.navegacionSupHomeLog .ultimaParte nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.navegacionSupHomeLog .ultimaParte img {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  margin-bottom: 0;
}

.navegacionSupHomeLog .ultimaParte nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.navegacionSupHomeLog .ultimaParte nav h3 {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  justify-self: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8em;
  cursor: pointer;
}
.navegacionSupHomeLog .ultimaParte .men-prin {
  cursor: pointer;
  z-index: 1000;
  list-style: none;
  margin-right: 2em;
  margin-top: 0.3em;
}
.navegacionSupHomeLog .ultimaParte .men-prin #usuarioDes {
  margin: 0;
  padding: 0;
}
.navegacionSupHomeLog .ultimaParte .men-prin .men {
  list-style: none;
  display: none;
}

.navegacionSupHomeLog .ultimaParte .men.show {
  list-style: none;
  display: block;
  animation: fadeIn 0.3s forwards;
  position: absolute;
  padding: 0;
  margin-left: -5em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  padding: 1em;
  background-color: rgb(166, 162, 168);
  z-index: 1000;
}

@keyframes fadeIn {
  from {
    transform: translateY(-200px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
.navegacionSupHomeLog .ultimaParte .men li,
.navegacionSupHomeLog .ultimaParte .men li a {
  text-decoration: none;
  font-size: 1.1em;
  margin-bottom: 4%;
}
.navegacionSupHomeLog .ultimaParte .men li:hover,
.navegacionSupHomeLog .ultimaParte .men li a:hover {
  cursor: pointer;
  text-decoration: none;
}

.navegacionSupHomeLog .ultimaParte nav img.fechaDown {
  width: 0.7em;
  height: 0.7em;
  margin-top: 0.4em;
  margin-left: 0.5em;
  padding-left: 0;
}

.navegacionSupHomeLog .ultimaParte .menu {
  margin-top: 0%;
  margin-right: 5%;
  margin-bottom: 0%;
}
.navegacionSupHomeLog .ultimaParte ul.men li {
  font-size: 1.1em;
  margin-bottom: 4%;
}
