.nav-vert {
  margin-top: 1em;
  padding: 0;
  display: flex;
  border-radius: 10px;
}
.nav-vert ul {
  margin: 0;
  padding: 0;

}
.nav-vert ul.menuVert {
  display: block;
  background-color: rgba(206, 200, 211, 0.301);
  border-radius: 10px;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.2em;

}
.nav-vert ul.menuVert li {
  list-style: none;
  display: flex;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  font-family: "Noto Sans JP",  sans-serif;
}
.nav-vert ul.menuVert li p {
  margin-top: 0.8em;
  margin-left: 0.5em;
  padding-right: 1em;
  font-size: 1em;
  align-content: center;
  white-space: nowrap;  
}
.nav-vert ul.menuVert div li:hover,
.nav-vert ul.menuVert div p:hover {
  color: cornsilk;
}
.nav-vert ul.menuVert div li p{
    margin: 0;
    margin-bottom: 1em;
    margin-right: 2em;
    padding: 0;
    font-size: 1em;
    font-weight: 700;

}

.nav-vert li img {
  width: 2em;
  height: 2em;
  padding: 0.3em;


}

.nav-vert li img:hover {
  transform: scale(1.5);
}


li.homeMp a {
  color: black;
  text-decoration: none;
}
.inactivo {
  color: rgb(88, 88, 88);
}
#oculto,
.oculto {
  display: none;
}
.subMenu {
  font-size: 0.8em;
  display: none;
}

.subMenu.show {
  display: block;
}

.noneMarket,
.noneHome {
  display: none;
}

ul.men-prin {
  list-style: none;
}

.nav-completa li span.icon-down-dir {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

li.inactivo {
  color: rgb(85, 85, 85);
}
