/*Cuerpo Principal*/

#formularioIndividual {
  background-color: rgba(0, 0, 0, 0.493);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  display: none;
  z-index: 100;
  margin: 0;
  padding: 20px;
}

/* COMANDERA Y CLOSE */

.cuadroForm {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  /*height: auto;*/
  margin-top: 2%;
  padding: 2em;
  margin-bottom: 6%;
  background-color: #a6a6a6;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  border-radius: 10px;
}

.cuadroForm.desHabilitado {
  background-color: #b65151;
}

#tabs_contents .formularioPestana {
  display: none;
}

#tabs_contents .formularioPestana.active {
  display: flex;
  background-color: #a6a6a6;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}

.comand.formularioPestana {
  display: none;
}

.comand.formularioPestana.active {
  background-color: #a6a6a6;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  padding-top: 2em;
  padding-left: 5em;
  display: flex;
  justify-content: space-between;
}

.comand.formularioPestana .botonesPest {
  background-color: #a6a6a6;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-right: 15em;
}

.primeraLinea {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  margin-bottom: 0;
  width: 100%;
}

#comanderaIndiv {
  display: flex;
}

.closeForm {
  transform: rotate(45deg);
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  justify-content: right;
  align-self: flex-end;
}

#comanderaIndiv {
  display: flex;
  justify-content: center;
  width: 70%;
  padding-left: 15%;
}

.com {
  display: flex;
}

/*IMAGENES COMANDERA*/

.imgB {
  width: 2em;
  z-index: 20;
  margin-left: 1em;
  cursor: pointer;
}

.imgB.achiq {
  width: 2em;
  margin-left: 3em;
  margin-right: 0em;
}

.imgB.achiq1 {
  width: 1.8em;
}

.imgB.achiq2 {
  width: 2.2em;
  margin-top: -0.2em;
}

.imgB.achiq3 {
  width: 2.5em;
  margin-top: -0.2em;
  margin-left: 0.5em;
}

.imgB.agrande {
  width: 2.7em;
  margin-top: -0.2em;
}

.imgB.agrande:hover,
.imgB.achiq2:hover,
.imgB.achiq1:hover,
.imgB.achiq:hover,
.imgB:hover {
  transform: scale(1.5);
  z-index: 20;
}

/*LOGO*/

.logoForm {
  display: flex;
  margin-top: -1.5em;
  height: 3em;
  width: 100%;
}

.logoForm img {
  margin: 0;
}

/*FORMULARIO*/

#cabeceraForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -50em;
  margin: 0;
}

.formulario {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.fo.id {
  display: none;
}

div.fo {
  margin: 1em;
  padding: 0;
  text-align: center;
}

.fo.num {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  flex-basis: 5%;
}

.fo.num p {
  margin-bottom: 0;
  margin-top: -1em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  align-self: center;
}

div.fo.num h2 {
  align-self: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: -1em;
}

.fo h2 {
  font-size: 1.1em;
  font-family: "Raleway", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

input.form {
  border-radius: 5px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0.3em;
  margin-bottom: 0;
}

.select.f,
.select.form {
  border-radius: 5px;
  border-radius: 5px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0.3em;
  margin-bottom: 0;
}

div.formularioPestana {
  display: block;
  margin-right: 1em;
}

div.renglon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div.renglon .fo,
div.renglon .fo {
  margin-right: 5%;
}

div.renglon.compuesto {
  width: 100%;
  display: block;
}

div.fo.adjunto {
  display: block;
  max-width: 10em;
}

div.fo.adjunto div.src {
  margin-top: 0.3em;
  background-color: rgb(171, 171, 172);
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  padding: 0 0.3em 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.botonesAdj {
  display: flex;
  width: 100%;
}

.eliminarAdj {
  width: 1.2em;
  margin-left: 0.2em;
  margin-top: 0.5em;
  cursor: pointer;
}

.eliminarAdj:hover {
  transform: scale(2);
}
td.inputTd.adjunto {
  margin: 0;
  padding: 0;
  align-items: center;
}
td.inputTd input.inputR.adjunto {
  display: none;
}

div.src.formColec {
  overflow: hidden;
  margin-top: 0.3em;
  background-color: rgb(171, 171, 172);
  margin-right: 0.5em;
  height: 1.3em;
  width: 10em;
  overflow-x: hidden;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

table.tablaCompuesto td.adjunto,
table.tablaCompuesto td.vacio.adjunto {
  display: flex;
  margin-left: 0.2em;
}

.select.f.tipo,
select.form.tipo,
select.form.rubro,
.select.f.rubro {
  width: 90%;
}

input.form.importeArs,
input.form.importeUsd {
  width: 80%;
}

input.form.links {
  width: 90%;
}

/*COLECCIONES*/

.compuesto {
  width: 100%;
  padding-left: 1.5em;
}

.cabeceraCol {
  display: flex;
  margin-top: 0.5%;
}

a.pestana.colect {
  display: flex;
  width: auto;
  background-color: rgba(58, 58, 58, 0.288);
  border: 2px solid #bbb;
  border-radius: 5px 5px 0 0;
  border-bottom: transparent;
  margin-bottom: -0.1em;
  color: black;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5em 1.5em 0.8em 1.5em;
  z-index: 2.2;
  margin-left: 0;
  cursor: pointer;
}

a.pestana.colect.active {
  background-color: rgb(238, 238, 238);
}

.tableCol {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tableCol .contError p {
  font-size: 0.7em;
  color: rgb(94, 0, 0);
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  text-align: center;
}

.tableCol .contError p:hover {
  font-size: 1em;
}

table.tablaCompuesto {
  display: none;
  border: 2px solid #bbb;
  background-color: rgb(238, 238, 238);
  padding: 1.5em 1em 1em 1em;
  border-radius: 0px 10px 10px 10px;
  margin-right: 2em;
  margin-top: 0em;
  overflow-y: auto;
  border-collapse: separate;
  border-spacing: 0.6em 0.3em;
  flex-wrap: wrap;
}

table.tablaCompuesto.active {
  display: flex;
}

table.tablaCompuesto th {
  background-color: transparent;
  border: transparent;
  padding-bottom: 0.4em;
}

table.tablaCompuesto td {
  background-color: transparent;
  border: transparent;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 5px 5px 5px 5px;
}

table.tablaCompuesto input {
  background-color: rgb(231, 230, 230);
  color: rgb(0, 0, 0);
  width: 100%;
  height: 1.7em;
  margin: 0;
  padding: 0;
}

table.tablaCompuesto input:read-only {
  background-color: #8f8c8cab;
}

table.tablaCompuesto select {
  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 0%;
  margin: 0;
}

table.tablaCompuesto td.vacio {
  background-color: transparent;
  border: transparent;
}

table.tablaCompuesto tr td.comp .formColec.ocult {
  display: none;
}

table.tablaCompuesto tr td.vacio input:read-only {
  background-color: #8f8c8cab;
}

table.tablaCompuesto tr.rojoEliminar td input,
table.tablaCompuesto tr.rojoEliminar td select {
  background-color: rgb(110, 62, 62);
  color: red;
}

#cabeceraForm .formulario input:disabled,
#cabeceraForm .formulario select:disabled {
  border: 4px solid rgb(223, 200, 0);
}

/*Pestana colecciones */

#tabs_contents th.tituloTablasIndividual {
  background-color: transparent;
}
