body {
  background-color: #a6a6a6;
  background-image: url("../img/fondo/brick-wall-dark.png");
  scroll-behavior: initial;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.navegacion {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  background-color: black;
  width: 100%;
}

.gesfin {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  color: white;
  width: 45%;
  padding-left: 5%;
  align-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
}

.in {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  width: 44%;
  padding-right: 6%;
}

.medio {
  height: 3em;
  width: 20%;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
  margin-top: 7%;
}

.login {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 0%;
  padding-top: 0;
  padding-right: 8%;
  width: 100%;
}

.inputMail {
  display: flex;
  flex-flow: nowrap;
  width: 165%;
  align-items: center;
  margin-left: -17%;
}

.inputMail span {
  width: 8%;
  font-size: 1.9em;
  margin-right: 2%;
}

input {
  margin: 3%;
  width: 140%;
  height: 30px;
  border-radius: 10px;
}

.inputMailLog {
  display: flex;
  flex-flow: nowrap;
  width: 148%;
  align-items: center;
  margin-left: 0;
}

.inputMailLog input {
  height: 40px;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.btnLog {
  background-color: black;
  color: rgb(255, 255, 255);
  width: 123%;
  height: 35px;
}

.olvidaste {
  margin-left: 5%;
  margin-top: -5%;
  font-size: 1.5em;
  width: 100%;
}

.olvidaste a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
