body {
  background-color: #a6a6a6;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

.navegacion {
  background: black;
  display: flex;
  flex-flow: no-wrap;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 10px;
}

.menu {
  margin-top: 0.5%;
  margin-right: 5%;
  margin-bottom: 0.5%;
}

.icon-menu {
  color: rgba(206, 200, 211);
  font-size: 1.4em;
  cursor: pointer;
}

.gesfin {
  display: flex;
  flex-flow: wrap;
  max-height: 40px;
  margin: 0;
  width: 50%;
  color: white;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5%;
}

.imagen {
  display: flex;
}

.gesfin img {
  width: 65%;
}

#contenedorFidei {
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  margin-left: -3em;
}

#contenedorFidei h2 {
  margin: 0;
  margin-right: 1em;
  padding: 0;
  align-self: center;
  font-size: 1.2em;
}

#contenedorFidei input {
  display: none;
}

#contenedorFidei .titulo {
  margin: 0;
  padding: 0;
  align-items: center;
}

#contenedorFidei #fideic {
  width: 10em;
  justify-content: center;
  cursor: pointer;
  align-self: center;
}

#contenedorFidei #fideic h3 {
  padding-right: 1em;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

#fideicomisosOpciones {
  display: none;
}

#fideic li {
  list-style: none;
  cursor: pointer;
  font-family: "Ubuntu Condensed", sans-serif;
}

#fideic li:hover {
  background-color: rgb(117, 116, 117);
}

#fideicomisosOpciones.show {
  display: block;
  position: absolute;
  font-size: 1.3em;
  width: 7em;
  z-index: 50;
  margin-top: 0.7em;
  animation: fadeIn 0.3s forwards;
  border-radius: 10px 10px 10px 10px;
  padding: 1em;
  background-color: rgb(22, 21, 21);
  border: 2px solid rgb(255, 255, 255);
}

@keyframes fadeIn {
  from {
    transform: translateY(-200px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

.user {
  display: flex;
  flex-flow: no-wrap;
  margin: 0;
  width: 50%;
  max-height: 40px;
  color: white;
  padding-right: 5%;
  justify-content: flex-end;
}

.campana {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
  margin-top: 0.5em;
  cursor: pointer;
}

.campana:hover {
  transform: scale(1.5);
}

.perfil {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.5em;
}

.user nav {
  display: flex;
  margin-left: -2em;
}

.user nav ul {
  align-self: center;
}

.user h3 {
  align-self: center;
  font-size: 1.3em;
}

.men-prin {
  cursor: pointer;
  z-index: 1000;
}

.men-prin li {
  list-style: none;
}

.men {
  list-style: none;
  display: none;
}

.men.show {
  list-style: none;
  display: block;
  animation: fadeIn 0.3s forwards;
  position: absolute;
  padding: 0;
  margin-left: -5em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  padding: 1em;
  background-color: rgb(166, 162, 168);
  z-index: 1000;
}

@keyframes fadeIn {
  from {
    transform: translateY(-200px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

.men.show li {
  font-size: 1.1em;
  margin-bottom: 4%;
}

.user a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

span {
  width: 500px;
  color: rgb(255, 255, 255);
  margin-top: 50px;
}

/*MENU*/

#menu-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: calc(100% - 2em);
}

.nav-vert {
  margin-top: 0.5%;
  padding: 0;
  display: flex;
  width: 2.5em;
  min-width: 45px;
  background-color: rgba(206, 200, 211, 0.301);
  justify-content: center;
  border-radius: 10px;
}

.nav-vert ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-vert li {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.nav-vert li img {
  width: 2em;
  padding: 0.3em;
  margin-top: 1em;
  margin-left: auto;
}

.nav-vert li img:hover {
  transform: scale(1.5);
}

.nav-vert li img.pagMarket.show,
.nav-vert li img.pag.show,
.nav-vert li img.comp.show,
.nav-vert li img.porcen.show {
  margin-top: 5.3em;
}

.nav-vert li img.finMarket.show {
  margin-top: 9.5em;
}

.nav-vert li img.cobra.show,
.nav-vert li img.prRb.show,
.nav-vert li img.computo.show {
  margin-top: 7.5em;
}

.nav-vert li img.conf.show,
.nav-vert li img.taMp.show {
  margin-top: 7.3em;
}

.nav-vert li img.panel.show {
  margin-top: 5em;
}

.nav-vert li img.chLib.show {
  margin-top: 3.3em;
}

.nav-completa {
  margin-top: 0.5%;
  background-color: rgba(206, 200, 211, 0.301);
  justify-content: flex-start;
  border-radius: 10px;
  display: none;
  animation: fadeout 0.3s forwards;
}

@keyframes fadeOut {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(200px) scale(0.5);
  }
}

.nav-completa.show2 {
  display: flex;
  width: 15em;
  min-width: 15em;
  animation: fadeIn 0.3s forwards;
}

.nav-completa.market.show2 {
  display: flex;
  width: 15em;
  min-width: 15em;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(-200px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

.nav-completa ul {
  padding-left: 1em;
}

.nav-completa li {
  list-style: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1.2em;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-completa li span.icon-down-dir:hover,
.nav-completa li p:hover {
  color: cornsilk;
}

li.ch {
  margin-top: 2.1em;
}

li.co,
.fina {
  margin-top: 1.6em;
  margin-bottom: 0;
}

li.panel,
li.ta,
p.compraMenu {
  margin-top: 2em;
}

li.pr,
li.do,
p.pr {
  margin-top: 2.2em;
}

p.cobb {
  margin-top: 1.4em;
}

p.pagg,
p.dir {
  margin-top: 1.7em;
}

p.ch,
li.usur,
p.cobr,
p.pags {
  margin-top: 1.8em;
}

/*Menu vert Markt Place*/

li.seg,
.obras {
  margin-top: 1.9em;
}

li.homeMp {
  margin-top: 1.9em;
}

li.homeMp a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-completa li span.icon-down-dir {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

.subMenuGeof,
.subMenuFidei,
.subMenuOperFin,
.subMenuIndice,
.subMenuPag,
.subMenuSeg,
.subMenuComputo,
.subMenuCompras,
.subMenuCob,
.subMenuPag,
.subMenuDir,
.subMenuFin {
  font-size: 0.8em;
  display: none;
}

.cobr {
  margin-top: 1.5em;
}

.pags {
  margin-top: 1.7em;
}

.subMenuGeof.show,
.subMenuOperFin.show,
.subMenuFidei.show,
.subMenuIndice.show,
.subMenuPag.show,
.subMenuSeg.show,
.subMenuComputo.show,
.subMenuCompras.show,
.subMenuCob.show,
.subMenuDir.show,
.subMenuFin.show {
  display: block;
}

li.inactivo {
  color: rgb(85, 85, 85);
}
