.navegacion .login {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-top: 1em;
  align-items: center;
  padding-right: 5em;
  width: 100%;
}
.navegacion .login .inputMail {
  margin-top: 1em;
}

.navegacion .login .inputMail input {
  height: 2em;
  border-radius: 2em;
  width: 15em;
  padding-left: 1em;
}

.navegacion .login .inputMail input.btnLog {
  height: 2.5em;
  font-weight: bold;
  width: 7em;
  margin-left: 1.5em;
}

.navegacion .login .olvidaste a {
  color: white;
  text-decoration: none;
  margin-left: 1em;
}
