.cartelError {
  background-color: rgba(232, 231, 233, 0.301);
  border: 2px solid #bbb;
  color: rgb(156, 22, 22);
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.cartelErrorFront,
.cartelErrorForm {
  background-color: rgb(232, 231, 233);
  border: 2px solid #bbb;
  color: rgb(156, 22, 22);
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  display: none;
  position: absolute;
  justify-content: center;
  margin-top: 10px;
  z-index: 50;
  padding: 0 1em 0 1em;
}

.cartelErrorFront.noShow,
.cartelErrorForm.noShow {
  display: none;
}

.cartelEliminar {
  background-color: rgb(232, 231, 233);
  border: 3px solid rgb(0, 0, 0);
  color: rgb(156, 22, 22);
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  justify-content: center;
  margin-top: 10px;
  z-index: 150;
  padding: 0 1em 0 1em;
  position: absolute;
  top: 20%;
  left: 30%;
}

.cartelEliminar .respuestas {
  display: flex;
  justify-content: center;
}

.cartelEliminar .respuestas div {
  margin-right: 0.5em;
  margin-bottom: 1em;
  border: 2px solid rgb(156, 22, 22);
  background-color: rgb(156, 22, 22);
  color: rgb(232, 231, 233);
  padding: 1em;
  border-radius: 5px;
  min-width: 1.5em;
  text-align: center;
  cursor: pointer;
}

.cartelEliminar .respuestas div:hover {
  background-color: rgb(232, 231, 233);
  color: rgb(156, 22, 22);
}

/*//////////////////////////////////////////////*/
.progressBar {
  display: none;
  position: relative;
  width: 2.5em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
}

.progressBar::before {
  content: ".";
  color: rgba(125, 228, 122, 0);
  display: flex;
  align-items: center;
  position: absolute;
  height: 2em;
  width: calc(var(--with, 0) * 1%);
  min-width: 0.2em;
  max-width: 4em;
  background-color: rgb(126, 228, 122);
  border-radius: 70px;
}
