.navegacionSupHomeLog {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
.primeraParteNavegacion {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  max-height: 40px;
  justify-content: flex-start;
  align-items: center;
}
.navegacionSupHomeLog .primeraParteNavegacion .icon-menu {
  font-size: 1.4em;
  cursor: pointer;
}

.navegacionSupHomeLog .primeraParteNavegacion .lineaLogoHome {
  width: 3em;
  height: 3em;
}

.navegacionSupHomeLog .primeraParteNavegacion .logoHome {
  width: 2em;
  padding: 0.3em;
  margin-top: 1em;
  margin-right: 3em;
  margin-left: 0;
  border-radius: 10px;
  cursor: pointer;
}
.navegacionSupHomeLog .primeraParteNavegacion h4 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 0.2em;
  padding-left: 0.2em;
  border-left: 0.1em solid rgb(0, 0, 0);
}
/*////////////////////////////////////////////////////////////////////////////////*/
.navegacionSupHomeLog .ultimaParte {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 3em;
  margin-bottom: 0;
  padding-top: 0.8em;
  padding-bottom: 0;
}
.navegacionSupHomeLog .ultimaParte nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.navegacionSupHomeLog .ultimaParte img {
  width: 2em;
  height: 2em;
  margin-left: 1em;
  margin-bottom: 0;
}
.navegacionSupHomeLog .ultimaParte nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.navegacionSupHomeLog .ultimaParte nav h3 {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  justify-self: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8em;
  cursor: pointer;
}

.navegacionSupHomeLog .ultimaParte .men {
  display: none;
  list-style: none;
  margin-right: 3em;
}
.navegacionSupHomeLog .ultimaParte .men li,
.navegacionSupHomeLog .ultimaParte .men li a {
  text-decoration: none;
}
.navegacionSupHomeLog .ultimaParte .men li:hover,
.navegacionSupHomeLog .ultimaParte .men li a:hover {
  cursor: pointer;
  text-decoration: none;
}

.navegacionSupHomeLog .ultimaParte nav img.fechaDown {
  width: 0.7em;
  height: 0.7em;
  margin-top: 0.4em;
  margin-left: 0.5em;
  padding-left: 0;
}

.navegacionSupHomeLog .ultimaParte .menu {
  margin-top: 0%;
  margin-right: 5%;
  margin-bottom: 0%;
}
.navegacionSupHomeLog .ultimaParte ul.men li {
  font-size: 1.1em;
  margin-bottom: 4%;
}

.navegacionSupHomeLog .ultimaParte ul.men-prin {
  list-style: none;
}
