body {
  background-color: #000e8f;
  background-image: url("../../img/background/fondoMarmol.png");
  scroll-behavior: initial;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
.navegacion .login {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-top: 1em;
  align-items: center;
  padding-right: 5em;
  width: 100%;
}
.navegacion .login .inputMail {
  margin-top: 1em;
}

.navegacion .login .inputMail input {
  height: 2em;
  border-radius: 2em;
  width: 15em;
  padding-left: 1em;
}

.navegacion .login .inputMail input.btnLog {
  height: 2.5em;
  font-weight: bold;
  width: 7em;
  margin-left: 1.5em;
}

.navegacion .login .olvidaste a {
  color: white;
  text-decoration: none;
  margin-left: 1em;
}

.gesfin {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3em;
  margin-top: 1em;
  padding-left: 0.5%;
  width: 100%;
  max-height: 40px;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.gesfinHome {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0em;

  margin-top: 0em;
  padding-left: 0;
  width: 100%;
  max-height: 40px;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.gesfin .logoPrincipal {
  width: 6em;
  display: flex;
}
#letraLogo {
  display: flex;
  border-left: 0.3em solid rgb(0, 0, 0);
  margin-left: 0.5em;
}
#letraLogo div {
  align-self: center;
  margin-left: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
}
#letraLogo h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
}

#letraLogo p {
  margin: 0;
  padding: 0;
}

div.inputMail img {
  width: 1.6em;
  height: 1.6em;
  padding: 0;
  margin-left: 0.1em;
  margin-top: 0;
  margin-bottom: -0.4em;
}
div.inputMail img:hover {
  transform: scale(1.3);
  cursor: pointer;
}
