body {
  background-color: #154ce2;
  background-image: url("../../img/background/fondoMarmol.png");
  scroll-behavior: initial;
}

.menu {
  margin-top: 0%;
  margin-right: 5%;
  margin-bottom: 0%;
}
