<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="language" content="es">
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
    <!--FONTELLO CSS-->
    <!--CUSTOM CSS-->

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">

    <title>Gesfin</title>
</head>
<body>
    <div class="container">

        <div class="navegacion">
            <div class="gesfin">

                <img src="/img/iconos/flechaBarra.svg" class="logoPrincipal" alt="Logo">
                <div id="letraLogo">
                    <div>
                        <h1>GesFin</h1>
                        <p>Cuidando las finanzas</p>
                    </div>
                </div>
            </div>
            <div class="medio">
                <% if (error.length> 0) {%>
                    <div class="cartelError">
                        <%= error %>
                    </div>
                    <%}%>
            </div>
            <div class="login">
                <form action="/users/login" method="POST">

                    <div class="inputMail">
                        <input type="text" id="username" name="username" placeholder="Usuario" required />
                        <input type="password" id="password" name="password" placeholder="Contraseña" required />
                        <img class="ojoPassword tachado" src="/img/abm/ojoTachado.png">
                        <input type="submit" value="Login" class="btnLog" />

                    </div>

                    <div class="olvidaste">
                        <p><a href="">Olvidaste tu contraseña ?</a></p>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <!--JQUERY-->
    <script src="/js/librerias/jquery-3.4.1.min.js "></script>
    <script src="/js/librerias/moment.js "></script>
    <script src="/js/home/funcionesGrales/variables iniciales y atributos.js"></script>


</body>


</html>