<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="language" content="es">
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">

    <!--FONTELLO CSS-->
    <!--CUSTOM CSS-->
    <!--ABM-->
    <link rel="stylesheet" href="/css/abm/formularioAbm.css">
    <!--FORM-->
    <link rel="stylesheet" href="/css/form/formInd.css">
    <link rel="stylesheet" href="/css/form/formdobEntrada.css">
    <link rel="stylesheet" href="/css/form/impresionForm.css">
    <!--HOME-->
    <link rel="stylesheet" href="/css/home/homeLog.css">
    <link rel="stylesheet" href="/css/home/formatoIndicadores.css">
    <!--LIB-->
    <link rel="stylesheet" href="/css/lib/librerias.css">
    <link rel="stylesheet" href="/css/lib/informacionVideo.css">
    <!--NAV-->
    <link rel="stylesheet" href="/css/nav/navIzquierda.css">
    <link rel="stylesheet" href="/css/nav/navHorizontal.css">
    <!--GRAL-->
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/seguridad.css">
    <!--mainTree CSS-->
    <link rel="stylesheet" href="/css/homeGesfin.css">
    <link rel="stylesheet" href="/css/navHorizontalmainTree.css">
    <title>Gesfin</title>
</head>

<body>
    <div class="container">

        <div class="navegacionSupHomeLog">
            <div class="primeraParteNavegacion">
                <img src="/img/iconos/MenuNav.svg" class="icon-menu" alt="Menu">
                <img src="/img/iconos/flechaBarra.svg" class="lineaLogoHome" alt="Logo">
                <div id="letraLogoHome">
                    <div>
                        <h4>GesFin</h4>

                    </div>
                </div>
            </div>
            <div class="medio">
                <% if (error.length> 0) {%>
                    <div class="cartelError">
                        <%= error %>
                    </div>
                    <%}%>
            </div>
            <div class="ultimaParte">
                <img src="/img/iconos/campana.png" alt="campana" class="campana" title="Notificaciones">
                <img src="/img/iconos/user.png" alt="perfil" class="perfil" title="Usuario">
                <nav>

                    <ul class="men-prin">
                        <li>
                            <h3 id="usuarioDes">
                                <%= userNombre %>
                                    </>
                                    <img src="/img/iconos/triangAbajo.png"class="fechaDown">
                            </h3>

                            <ul class="men">
                                <li class="" id="viewConf">Configuracion Aplicacion</li>
                                <li class="noneMarket" id="viewHome">Home</li>
                                <li><a href="/logout ">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
    <div id="menu-container" class="menu-container">
        <div class="nav-vert">
            <nav>
                <ul class="menuVert">
                    <li class="itemMenu">
                        <div><img src="/img/iconos/bug.svg" alt="Error" title="Carga de errores" view="home"></div>
                        <div>
                            <p class="desplegableAbm oculto" view="home" id="errores" visualizar="none">Errores</span></p>
                            <ul class="subMenu">
                                <li><p class="menuFormulario" view="home" id="error" crear="none" visualizar="none">Ingresar error</p></li>
                                <li><p class="menuSelectAbm" ind="true"  view="home" id="error" visualizar="none">Errores ingresados</p></li>
                            </ul>
                         </div>
                    </li>
                    <li>
                        <div><img src="/img/iconos/reque.svg" alt="Requerimiento" title="Carga de requerimientos" view="home" visualizar="none"></div>
                        <div>
                            <p class="desplegableAbm oculto" view="home" id="reque" visualizar="none">Requerimientos</p>
                            <ul class="subMenu">
                                <li><p class="menuFormulario" view="home" id="requerimiento" visualizar="none">Ingresar requerimiento</p></li>
                                <li><p class="menuSelectAbm" ind="true" view="home" id="requerimiento" visualizar="none">Requerimientos ingresados</p></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div><img src="/img/iconos/principal/cheque.svg" alt="Cheques" title="Operaciones Financieras" view="home"  visualizar="none"></div>
                        <div>
                            <p class="desplegableAbm oculto" view="home" id="operacionesFinancieras" visualizar="none">Operaciones financieras<span class="icon-down-dir"></span></p>
                            <ul class="subMenu">
                                <li><p class="menuSelectAbm" ind="false"id="movimientoFinanciero" visualizar="none">Movimientos financieros</p></li>
                                <li><p class="menuDobleEntrada" id="proyeccionesCashFlow" visualizar="none">Proyecciones</p></li>
                                <li><p class="menuSelectAbm" ind="false" id="prestamosFideicomisos" visualizar="none">Prestamos fedeicomisos</p></li>
                                <li><p class="menuSelectAbm" ind="false"  id="liquidacionMoneda" visualizar="none">Moneda extrangera</p></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div><img src="/img/iconos/reportes.svg" alt="Reportes" title="Reportes internos" view="home" visualizar="none"></div>
                        <div>
                            <p class="desplegableAbm oculto" view="home" id="reportes" visualizar="none">Reportes<span class="icon-down-dir"></span></p>
                            <ul class="subMenu">
                                <li><p class="menuDobleEntrada" ind="false" id="resultadoFinanciero" view="home" visualizar="none">Resultado financiero</p></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div><img src="/img/iconos/usuario2.svg" alt="Usuario" title="Configuracion de usuarios" view="market" class="noneMarket"></div>
                        <div>
                        <p class="desplegableAbm oculto noneMarket" view="market" id="usuarios">Usuarios</span></p>
                        <ul class="subMenu">
                            <li><p class="menuSelectAbm noneMarket" ind="false" view="market" id="users">Usuarios</p></li>
                        </ul>
                        </div>
                    </li>
                     <li>
                    <div><img src="/img/iconos/candado.svg" alt="Segurdad" title="Configuración de seguridad" view="market" class="noneMarket"></div>
                    <div>
                        <p class="desplegableAbm oculto noneMarket" view="market" id="seguridad">Seguridad</p>
                        <ul class="subMenu">
                            <li><p class="menuSelectAbm noneMarket cargaEntidadesSeg" view="market" ind="false" id="grupoSeguridad" crear="true">Alta de grupos</p></li>
                            <li><p class="menuSelectAbm noneMarket" view="market" ind="false" id="operacionesPermitidas" crear="true">Fecha permitidas</p></li>
                        </ul>
                    </div>
                     </li>
                     <li>
                        <div><img src="/img/cobranzas.svg" alt="Unidasdes" title="Configuracion de cobros" view="market" class="fideicomisos noneMarket" visualizar="none"></div>
                        <div>
                        <p class="desplegableAbm oculto noneMarket" view="market" id="fideicomisos" visualizar="none">Fideicomisos<span class="icon-down-dir"></span></p>
                        <ul class="subMenu">
                            <li><p class="menuSelectAbm noneMarket" view="market" ind="false" id="unidades" visualizar="none">Obras</p></li>
                            <li><p class="menuSelectAbm noneMarket" view="market" ind="false" id="tipoUnidad" visualizar="none">Tipo de Unidad</p> </li>
                        </ul>
                        </div>
                     </li>
                     <li>
                        <div><img src="/img/iconos/cliente.svg" alt="Cliente" title="Configuracion de cobros" view="market" class="clientes noneMarket" visualizar="none"></div>
                        <div>
                            <p class="desplegableAbm oculto noneMarket" img="proveedores" id="clientes" view="market" visualizar="none">Clientes</p>
                            <ul class="subMenu">
                                <li><p class="menuSelectAbm noneMarket" ind="false" view="market" id="cliente" visualizar="none">Cliente</p></li>
                            </ul>
                        </div>
                     </li>
                     <li>
                             <div><img src="/img/iconos/prov.svg" alt="Proveedores" title="Configuracion de pagos" view="market" class="proveedores noneMarket" visualizar="none"></div>
                        <div>
                            <p class="desplegableAbm oculto noneMarket" img="procesos" view="market" id="proveedores" visualizar="none">Proveedores<span
                                    class="icon-down-dir"></span></p>
                            <ul class="subMenu ">
                                <li>
                                    <p class="menuSelectAbm noneMarket" view="market" ind="false" id="proveedor" visualizar="none">Proveeedor</p>
                                </li>
                                <li>
                                    <p class="menuSelectAbm noneMarket" view="market" ind="false" id="rubroPagos" visualizar="none">Rubro Egresos
                                    </p>
                                </li>
                                <li>
                                    <p class="menuSelectAbm noneMarket" view="market" ind="false" id="agrupadorRubrosPago" visualizar="none">
                                        Agrupador Egresos</p>
                                </li>
                                <li>
                                    <p class="menuSelectAbm noneMarket" view="market" ind="false" id="subRubroPagos" visualizar="none">Sub Rubro
                                        Egresos</p>
                                </li>
                            </ul>
                        </div>
                     </li>
                     <li>
                        <div><img src="/img/iconos/configGral.svg" alt="Procesos " title="Configuracion de procesos" view="market" class="procesos noneMarket" visualizar="none"></div>
                        <div>
                        <p class="desplegableAbm oculto noneMarket" img="direcciones" id="procesos" view="market" visualizar="none">Procesos</p>
                        <ul class="subMenu">
                            <li>
                                <p class="menuSelectAbm noneMarket" ind="false" view="market" id="estadoProceso" visualizar="none">Estado</p>
                            </li>
                            <li>
                                <p class="menuSelectAbm noneMarket" ind="false" view="market" id="criticidad" visualizar="none">Criticidad</p>
                            </li>
                            <li>
                                <p class="menuSelectAbm noneMarket" ind="false" view="market" id="tarea" visualizar="none">Tareas</p>
                            </li>
                           </ul>
                          </div>
                     </li>
                    <li>
                        <div><img src="/img/iconos/mundo.svg" alt="Pagos" title="Configuraciones generales" view="market" class="direcciones noneMarket" visualizar="none"></div>
                        <div>
                        <p class="desplegableAbm oculto noneMarket" img="panelControl" id="direcciones" view="market" visualizar="none">Direcciones<span class="icon-down-dir"></span></p>
                        <ul class="subMenu">
                            <li>
                                <p class="menuSelectAbm noneMarket" ind="false" view="market" id="ciudad" visualizar="none">Ciudad</p>
                            </li>
                            <li>
                                <p class="menuSelectAbm noneMarket" ind="false" view="market" id="provincia" visualizar="none">Provincia</p>
                            </li>
                            <li>
                                <p class="menuSelectAbm noneMarket" ind="false" view="market" id=pais visualizar="none">Pais</p>
                            </li>
                           </ul>
                          </div>
                        </li>
                        <li>
                            <div><img src="/img/iconos/menu.png" alt="Menu" title="Panel de control" class="panel"></div>
                            <div><p class="panelControl oculto">Panel de control</p></div>
                    </li>
                </ul>
            
            </nav>
        </div>

        <div id="tablas" class="comp">
            <div class="tabs_links" id="tabs_links"></div>
            <div class="comandos" id="comandera"></div>
            <div class="tabs_contents" id="tabs_contents">
            </div>

        </div>
        <div id="principalesIndicadores" class="principalesIndicadores"></div>

    </div>
    <div class="logoFondo">
        <!-- <img src="/img/logo12.png" alt="">-->
    </div>

    </div>

    <div>
        <input id="oculto" value="<%=username %>">
        <input id="ocultoUser" value="<%=userPermisos %>">

    </div>

    <!-- Creacion formulario individual-->

    <div id="formularioIndividual2"></div>
    <div id="formularioIndividual">

        <div class="cuadroForm">
            <div class="primeraLinea">

                <div id="comanderaIndiv">
                </div>


            </div>
            <div class="logoForm">
                <!--    <img src="/img/logo1.png" alt=""> -->
            </div>

            <div id="cabeceraForm">
            </div>
        </div>
    </div>
    <!-- Creacion Menu contextual-->

    <div id="menuContextual">

    </div>

    <div id="impresionFormulario">
        <div id=documentoImpresion>
            <div class="primeraLineaImpresion">

                <div id="comanderaIndivImpresion">
                </div>


            </div>
            <div id="impresionFinal">
                <div class="segundLineaImpresion">
                    <div class="logoFormImpresionDef">
                        <!-- <img src="/img/In-negro.png" alt=""> -->
                    </div>
                    <div class="logoFormImpresion">
                        <!-- <img src="/img/logo1.png" alt=""> -->
                    </div>
                </div>
                <div id=cuerpoImpresion>

                </div>
            </div>
        </div>
    </div>
    <div id="ayuda" class="oculto">
        <div id=documentoAyuda>
            <div id="comanderaIndivAyuda">
            </div>
            <div class="primerLineaAyuda">
                <div class="logoAyuda">
                    <!-- <img src="/img/gesfinPrinc.png" alt="GesFin"> -->
                </div>
            </div>
            <div id=cuerpoAyuda>

            </div>
        </div>
    </div>



    <div id="canvas_container" class="oculto">
        <div class="crossForm">
            <div>+</div>
        </div>

        <embed id="vistaPrevia" src="">

    </div>

    <!--JQUERY-->
    <!--LIBRERIAS-->
    <script src="/js/librerias/jquery-3.4.1.min.js "></script>
    <script src="/js/librerias/moment.js "></script>
    
    
    <!--ABM -->
    <script src="/js/home/abm/crearAbm.js"></script>
    <script src="/js/home/abm/formAbm.js"></script>
    <!--TABLA DOBLE -->
    <script src="/js/home/tablaDoble/crearDobleEntradaPest.js"></script>
    <script src="/js/home/tablaDoble/formDobleTabla.js"></script>
    <!--VARIABLES INICIALES-->
    <script src="/js/home/funcionesGrales/desplegable.js"></script>
    <script src="/js/home/funcionesGrales/monedasTotales.js"></script>
    <script src="/js/home/funcionesGrales/variables iniciales y atributos.js"></script>
    <!--VARIABLES MAINTREE-->
    <script src="/js/funcionesGrales/variablesInicialesMainTree.js"></script>
    <script src="/js/funcionesGrales/objetos y funciones iniciales.js"></script>
    <!--UNICA INSTANCIA -->
    <script src="/js/home/unicaInstancia/crearFormUnicaInst.js"></script>
    <script src="/js/home/unicaInstancia/formUnicaInstancia.js"></script>
    <!--VARIABLES INICIALES-->
    <script src="/js/home/funcionesGrales/objetos y funciones modelos.js"></script>
    <script src="/js/home/funcionesGrales/seguridad.js"></script>
    
    


</body>

</html>